.react-datepicker {
  background-color: rgb(156 163 175);
  border-radius: 10%;
  padding: 10px;
}

.react-datepicker__header {
  background-color: rgb(156 163 175);
}

.react-datepicker__input-container input {
  background-color: rgb(156 163 175);
  padding-left: 8px;
  padding-right: 8px;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  &:hover {
    filter: brightness(115%);
  }
}
